@model SchoolSystems.ViewModels.BooksVM

@{
    ViewData["Title"] = "Create";
}
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Books</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="BooksId" class="control-label"></label>
                <input asp-for="BooksId" class="form-control" />
                <span asp-validation-for="BooksId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksPrice" class="control-label"></label>
                <input asp-for="BooksPrice" class="form-control" />
                <span asp-validation-for="BooksPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookBrnPrice" class="control-label"></label>
                <input asp-for="BookBrnPrice" class="form-control" />
                <span asp-validation-for="BookBrnPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookFile" class="control-label"></label>
                <input asp-for="BookFile" type="file" class="form-control-file" />
                <span asp-validation-for="BookFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorFile" class="control-label"></label>
                <input asp-for="AuthorFile" type="file" class="form-control-file" />
                <span asp-validation-for="AuthorFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
        <div>
        </div>
    </div>
</div>