@model SchoolSystems.Models.Permission

@{
    ViewData["Title"] = "Edit";
}
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Permission</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PermissionId" class="control-label"></label>
                <input asp-for="PermissionId" readonly="readonly" class="form-control" />
                <span asp-validation-for="PermissionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolesId" class="form-label">Role</label>
                <select asp-for="Roles" class="form-control" asp-items="@(new SelectList(ViewBag.Roles, "RolesId", "RolesName"))">
                    <option value="">Select a role</option> <!-- Default option for better UX -->
                </select>
                <span asp-validation-for="RolesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionName" class="control-label"></label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
        <div>
        </div>
    </div>
</div>
