@model SchoolSystems.Models.Issues

@{
    ViewData["Title"] = "Edit";
}
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Issues</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="IssuesId" class="control-label"></label>
                <input asp-for="IssuesId"readonly="readonly" class="form-control" />
                <span asp-validation-for="IssuesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                                @* <input asp-for="StudentId" class="form-control" /> *@
                <select asp-for="StudentId" class="form-control" asp-items="@(new SelectList(ViewBag.Student, "StudentId", "StudentName","StudentId"))">
                    <option value="">Select a role</option> <!-- Default option for better UX -->
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksId" class="control-label"></label>
                                @* <input asp-for="BooksId" class="form-control" /> *@
                <select asp-for="BooksId" class="form-control" asp-items="@(new SelectList(ViewBag.Books, "BooksId", "BookName","BooksId"))">
                    <option value="">Select a role</option> <!-- Default option for better UX -->
                </select>
                <span asp-validation-for="BooksId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuesDate" class="control-label"></label>
                <input asp-for="IssuesDate" class="form-control" />
                <span asp-validation-for="IssuesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
        <div>
        </div>
    </div>
</div>